In [2]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres@localhost:5432/history')

In [3]:
df = pd.read_sql_query('select * from "gas_station"',con=engine)

Question: How many locatins and brands are present in the database?

In [6]:
print('There are', df.shape[0], 'locations belonging to', df["brand"].nunique(), 'brands in the Database.')

There are 15393 locations belonging to 893 brands in the Database.

Question: Find Average Cheapest Gas Station for every Autobahn

In [54]:
import re
#Search all Gas Stations where street name is A
df_autobahn =df[df['street'] == 'A']
df_autobahn['house_number'] = df_autobahn['house_number'].map(lambda x: re.sub(r"\D", "", x))

C:\Users\reti\AppData\Local\Programs\Python\Python35\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>version</th>
      <th>version_time</th>
      <th>name</th>
      <th>brand</th>
      <th>street</th>
      <th>house_number</th>
      <th>post_code</th>
      <th>place</th>
      <th>public_holiday_identifier</th>
      <th>lat</th>
      <th>lng</th>
      <th>price_in_import</th>
      <th>price_changed</th>
      <th>open_ts</th>
      <th>ot_json</th>
      <th>station_in_import</th>
      <th>first_active</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15</th>
      <td>0a6a8a04-b702-4b7c-a342-8ec0068df019</td>
      <td>7</td>
      <td>2015-07-28 13:28:07</td>
      <td>Aral Tankstelle, BAT HUNTETAL OST</td>
      <td>ARAL</td>
      <td>A</td>
      <td>29</td>
      <td>26203</td>
      <td>Wardenburg</td>
      <td>None</td>
      <td>53.040950</td>
      <td>8.220862</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 19:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0c058d81-4933-4aff-8965-e366a156c744</td>
      <td>8</td>
      <td>2018-02-28 15:37:02</td>
      <td>Aral Tankstelle, BAT WÜRZBURG NORD</td>
      <td>ARAL</td>
      <td>A</td>
      <td>3</td>
      <td>97084</td>
      <td>Würzburg</td>
      <td>None</td>
      <td>49.754670</td>
      <td>9.961424</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>31</th>
      <td>1bfff3a9-0ce7-478b-a465-c205d6b6d53a</td>
      <td>7</td>
      <td>2015-12-18 16:29:02</td>
      <td>Aral Tankstelle, BAT SAUERLAND OST</td>
      <td>ARAL</td>
      <td>A</td>
      <td>45</td>
      <td>58513</td>
      <td>Lüdenscheid</td>
      <td>None</td>
      <td>51.222214</td>
      <td>7.669095</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>41</th>
      <td>25db4d50-5821-452a-85b5-d2e10a465ac6</td>
      <td>8</td>
      <td>2018-07-17 22:30:10</td>
      <td>Aral Tankstelle</td>
      <td>ARAL</td>
      <td>A</td>
      <td>39</td>
      <td>38239</td>
      <td>Salzgitter</td>
      <td>None</td>
      <td>52.188896</td>
      <td>10.396215</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 22:01:06+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2018-06-06 23:30:06+02:00</td>
    </tr>
    <tr>
      <th>100</th>
      <td>584aa4d0-b5be-41b0-a542-781fcca62c64</td>
      <td>7</td>
      <td>2015-02-17 16:29:25</td>
      <td>Aral Tankstelle, BAT BRUNAUTAL OST</td>
      <td>ARAL</td>
      <td>A</td>
      <td>7</td>
      <td>29646</td>
      <td>Bispingen</td>
      <td>None</td>
      <td>53.108685</td>
      <td>9.982882</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 19:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>513</th>
      <td>044c80f7-01b9-49c6-82c3-c5421b22cf81</td>
      <td>3</td>
      <td>2018-04-30 19:11:17</td>
      <td>Aral Tankstelle, Q1 Energie AG</td>
      <td>ARAL</td>
      <td>A</td>
      <td>44</td>
      <td>59457</td>
      <td>Werl</td>
      <td>None</td>
      <td>51.532383</td>
      <td>7.861264</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2018-05-01 23:30:12+02:00</td>
    </tr>
    <tr>
      <th>1035</th>
      <td>010fe50a-e75f-4208-afe5-192c91f1ac9d</td>
      <td>6</td>
      <td>2015-02-11 16:30:26</td>
      <td>Aral Tankstelle, BAT BÜHLECK SÜD</td>
      <td>ARAL</td>
      <td>A</td>
      <td>44</td>
      <td>34289</td>
      <td>Zierenberg</td>
      <td>None</td>
      <td>51.381798</td>
      <td>9.236841</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>1087</th>
      <td>02250cd9-cb98-480f-91b8-8d98acf95b47</td>
      <td>9</td>
      <td>2018-05-03 16:57:54</td>
      <td>Aral Tankstelle, Samerberg Nord oHG Autobahnrasts</td>
      <td>ARAL</td>
      <td>A</td>
      <td>8</td>
      <td>83101</td>
      <td>Rohrdorf</td>
      <td>None</td>
      <td>47.802956</td>
      <td>12.178136</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>1280</th>
      <td>0627cc2b-d880-4c21-89bd-37e983c02624</td>
      <td>7</td>
      <td>2018-04-04 10:11:09</td>
      <td>Aral Tankstelle, ATR Südbaden GmbH</td>
      <td>ARAL</td>
      <td>A</td>
      <td>5</td>
      <td>79576</td>
      <td>Weil am Rhein</td>
      <td>None</td>
      <td>47.600210</td>
      <td>7.603025</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>1292</th>
      <td>0662d86f-f85c-4936-9cc3-61753f512d25</td>
      <td>6</td>
      <td>2018-08-01 13:07:37</td>
      <td>Aral Tankstelle, BMV Mineralölvertriebs GmbH</td>
      <td>ARAL</td>
      <td>A</td>
      <td>57</td>
      <td>47652</td>
      <td>Weeze</td>
      <td>None</td>
      <td>51.652280</td>
      <td>6.198259</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 19:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>1432</th>
      <td>09e2aaa0-893f-46b5-ada0-1237e4507c04</td>
      <td>6</td>
      <td>2016-03-24 13:27:53</td>
      <td>Aral Tankstelle, BAT RENCHTAL OST</td>
      <td>ARAL</td>
      <td>A</td>
      <td>5</td>
      <td>77767</td>
      <td>Appenweier</td>
      <td>None</td>
      <td>48.561718</td>
      <td>7.956888</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 19:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>1513</th>
      <td>0c96d7f2-0df7-44f6-bbaf-0dec1b0c248e</td>
      <td>5</td>
      <td>2015-11-30 13:49:22</td>
      <td>Aral Tankstelle, BAT HÜNXE WEST</td>
      <td>ARAL</td>
      <td>A</td>
      <td>3</td>
      <td>46569</td>
      <td>Hünxe</td>
      <td>None</td>
      <td>51.635380</td>
      <td>6.747470</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>1846</th>
      <td>1477dfd5-ffd3-41b4-83d3-d9fe848085ea</td>
      <td>11</td>
      <td>2015-07-10 10:26:57</td>
      <td>Aral Tankstelle, BAT HARZ OST</td>
      <td>ARAL</td>
      <td>A</td>
      <td>7</td>
      <td>38723</td>
      <td>Seesen</td>
      <td>None</td>
      <td>51.925587</td>
      <td>10.142902</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>2171</th>
      <td>1e507799-f55a-433f-aad5-1f3e75ac85f1</td>
      <td>4</td>
      <td>2016-06-08 08:53:19</td>
      <td>Aral Tankstelle</td>
      <td>ARAL</td>
      <td>A</td>
      <td>66</td>
      <td>65205</td>
      <td>Wiesbaden</td>
      <td>None</td>
      <td>50.055115</td>
      <td>8.311917</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 22:01:06+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>2422</th>
      <td>218cb20f-4c0b-425c-8b5e-3886b3bb60cf</td>
      <td>6</td>
      <td>2018-05-04 18:44:08</td>
      <td>Aral Tankstelle, Q1 Energie AG</td>
      <td>ARAL</td>
      <td>A</td>
      <td>7</td>
      <td>37124</td>
      <td>Rosdorf</td>
      <td>None</td>
      <td>51.489334</td>
      <td>9.877629</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2018-05-05 23:30:06+02:00</td>
    </tr>
    <tr>
      <th>2716</th>
      <td>27b1364c-3cce-4dad-af4d-ff89796e7744</td>
      <td>1</td>
      <td>2018-03-13 10:07:21</td>
      <td>Aral Tankstelle, Q1 Energie AG</td>
      <td>ARAL</td>
      <td>A</td>
      <td>3</td>
      <td>56307</td>
      <td>Dernbach</td>
      <td>None</td>
      <td>50.547977</td>
      <td>7.585230</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2018-03-14 23:30:06+01:00</td>
    </tr>
    <tr>
      <th>2763</th>
      <td>28875cc3-fb04-4986-9f48-a35d9941444f</td>
      <td>6</td>
      <td>2016-05-10 08:57:18</td>
      <td>Aral Tankstelle, BAT AUETAL SÜD</td>
      <td>ARAL</td>
      <td>A</td>
      <td>2</td>
      <td>31749</td>
      <td>Auetal</td>
      <td>None</td>
      <td>52.225178</td>
      <td>9.229529</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>2786</th>
      <td>291a148d-fa03-4a61-ac1f-15c27d91ebb8</td>
      <td>12</td>
      <td>2016-03-09 16:26:57</td>
      <td>Aral Tankstelle, BAT FRANKENWALD  WEST</td>
      <td>ARAL</td>
      <td>A</td>
      <td>9</td>
      <td>95180</td>
      <td>Berg</td>
      <td>None</td>
      <td>50.406670</td>
      <td>11.774050</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>3410</th>
      <td>386e29b2-5871-4285-bfec-ab5af3665bd5</td>
      <td>6</td>
      <td>2015-12-23 22:23:35</td>
      <td>Aral Tankstelle, BAT BERGSTRAßE OST</td>
      <td>ARAL</td>
      <td>A</td>
      <td>5</td>
      <td>64625</td>
      <td>Bensheim</td>
      <td>None</td>
      <td>49.689280</td>
      <td>8.603341</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 19:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>3526</th>
      <td>3b22a7f2-fcc1-4730-a7b7-b50095fd37b7</td>
      <td>5</td>
      <td>2015-02-17 16:29:39</td>
      <td>Aral Tankstelle, BAT KÖSCHINGER FORST OST</td>
      <td>ARAL</td>
      <td>A</td>
      <td>9</td>
      <td>85120</td>
      <td>Hepberg</td>
      <td>None</td>
      <td>48.836147</td>
      <td>11.471164</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>3559</th>
      <td>3bfab341-1f1e-49e0-8c32-bc77ca730e57</td>
      <td>19</td>
      <td>2018-05-15 13:08:14</td>
      <td>Aral Tankstelle</td>
      <td>ARAL</td>
      <td>A</td>
      <td>40</td>
      <td>44892</td>
      <td>Bochum</td>
      <td>None</td>
      <td>51.494022</td>
      <td>7.339435</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 22:01:06+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-09-12 00:00:01+02:00</td>
    </tr>
    <tr>
      <th>3801</th>
      <td>4159de88-ab8e-4bec-bf72-ce6f84a72fe8</td>
      <td>10</td>
      <td>2018-01-11 16:07:13</td>
      <td>Aral Tankstelle, Q1 Energie AG</td>
      <td>ARAL</td>
      <td>A</td>
      <td>1</td>
      <td>22965</td>
      <td>Todendorf-W</td>
      <td>None</td>
      <td>53.693623</td>
      <td>10.321713</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 19:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>4174</th>
      <td>49ca7bb5-bd6d-4acb-9a93-affbe10af1e8</td>
      <td>5</td>
      <td>2015-07-10 13:28:56</td>
      <td>Aral Tankstelle, BAT RHYNERN NORD</td>
      <td>ARAL</td>
      <td>A</td>
      <td>260</td>
      <td>59069</td>
      <td>Hamm</td>
      <td>None</td>
      <td>51.632313</td>
      <td>7.873946</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>4407</th>
      <td>4fc2b6b4-7237-4ad6-be97-2cb76e675c70</td>
      <td>7</td>
      <td>2018-08-01 13:07:40</td>
      <td>Aral Tankstelle, BAT Hochwald West</td>
      <td>ARAL</td>
      <td>A</td>
      <td>1</td>
      <td>54421</td>
      <td>Reinsfeld</td>
      <td>None</td>
      <td>49.689705</td>
      <td>6.899990</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 19:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>5357</th>
      <td>57386ed2-98a3-4fdc-8e9f-a5731b6a8c58</td>
      <td>6</td>
      <td>2015-02-17 16:29:45</td>
      <td>Aral Tankstelle, BAT FRÄNKISCHE SCHWEIZ/PEGNIT...</td>
      <td>ARAL</td>
      <td>A</td>
      <td>9</td>
      <td>91257</td>
      <td>Pegnitz</td>
      <td>None</td>
      <td>49.747350</td>
      <td>11.513346</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>5538</th>
      <td>5b6ed559-73dd-415b-89e4-67713c8bd319</td>
      <td>5</td>
      <td>2018-03-31 16:07:27</td>
      <td>Aral Tankstelle, Q1 Energie AG</td>
      <td>ARAL</td>
      <td>A</td>
      <td>7</td>
      <td>97262</td>
      <td>Hausen bei Würzburg</td>
      <td>None</td>
      <td>49.946846</td>
      <td>10.021016</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2018-04-01 23:30:06+02:00</td>
    </tr>
    <tr>
      <th>5593</th>
      <td>5cb5616f-687c-4583-881d-bae196abe9a2</td>
      <td>7</td>
      <td>2016-05-10 08:58:03</td>
      <td>Aral Tankstelle, BAT GRUNDBERGSEE SÜD</td>
      <td>ARAL</td>
      <td>A</td>
      <td>1</td>
      <td>27367</td>
      <td>Sottrum</td>
      <td>None</td>
      <td>53.090110</td>
      <td>9.179623</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 19:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>5602</th>
      <td>5cd899ad-4cd6-43b9-9738-e40ca7378066</td>
      <td>8</td>
      <td>2015-07-23 13:29:48</td>
      <td>Aral Tankstelle, BAT GROßENMOOR OST</td>
      <td>ARAL</td>
      <td>A</td>
      <td>7</td>
      <td>36151</td>
      <td>Burghaun</td>
      <td>None</td>
      <td>50.712970</td>
      <td>9.662551</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>5691</th>
      <td>5e75d82d-e3cb-4c78-a893-55907553e2d7</td>
      <td>9</td>
      <td>2018-07-02 13:07:18</td>
      <td>Aral Tankstelle, BMV MINERALÖLVERTRIEBS GMBH</td>
      <td>ARAL</td>
      <td>A</td>
      <td>2</td>
      <td>33719</td>
      <td>Bielefeld</td>
      <td>None</td>
      <td>52.009960</td>
      <td>8.629997</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>5777</th>
      <td>60748fd1-00ba-4bab-8ca4-9bd30bddf0cb</td>
      <td>6</td>
      <td>2018-06-21 16:07:34</td>
      <td>Aral Tankstelle, BELLERSHEIM TANKSTELLEN</td>
      <td>ARAL</td>
      <td>A</td>
      <td>7</td>
      <td>21077</td>
      <td>Hamburg</td>
      <td>None</td>
      <td>53.423470</td>
      <td>9.967088</td>
      <td>2018-08-08 03:16:06+02:00</td>
      <td>2018-08-07 19:01:07+02:00</td>
      <td>1533765000</td>
      <td>{"openingTimes":[{"applicable_days":85,"period...</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2018-04-26 23:30:06+02:00</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>13246</th>
      <td>aac1e43e-019a-46f6-8b71-322f8b474066</td>
      <td>9</td>
      <td>2018-06-08 16:06:29</td>
      <td>Aral Tankstelle, Melle</td>
      <td>ARAL</td>
      <td>A</td>
      <td>30</td>
      <td>49328</td>
      <td>Melle</td>
      <td>None</td>
      <td>52.197285</td>
      <td>8.388175</td>
      <td>2018-05-02 11:36:07+02:00</td>
      <td>2018-05-01 19:00:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>13287</th>
      <td>6996265b-35e5-41be-8eb6-e0c7dd2b7d33</td>
      <td>7</td>
      <td>2018-06-08 10:07:15</td>
      <td>Aral Tankstelle, Giengen</td>
      <td>ARAL</td>
      <td>A</td>
      <td>7</td>
      <td>89537</td>
      <td>Giengen</td>
      <td>None</td>
      <td>48.584957</td>
      <td>10.177300</td>
      <td>2018-04-03 14:33:07+02:00</td>
      <td>2018-04-03 12:01:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>13303</th>
      <td>6109258b-01c6-4002-90f6-52dfaa09255a</td>
      <td>7</td>
      <td>2018-06-08 16:06:19</td>
      <td>Aral Tankstelle, Burghaun</td>
      <td>ARAL</td>
      <td>A</td>
      <td>7</td>
      <td>36151</td>
      <td>Burghaun</td>
      <td>None</td>
      <td>50.713280</td>
      <td>9.659595</td>
      <td>2018-04-23 11:38:17+02:00</td>
      <td>2018-04-22 19:00:07+02:00</td>
      <td>1</td>
      <td>{}</td>
      <td>2018-08-08 00:00:35+02:00</td>
      <td>2014-03-18 16:45:31+01:00</td>
    </tr>
    <tr>
      <th>13334</th>
      <td>178f3304-cbc8-4ba5-9c38-81b59baac5fe</td>
      <td>6</td>
      <td>2018-06-08 10:07:17</td>
      <td>Aral Tankstelle, Frechen</td>
      <td>ARAL</td>
      <td>A</td>
      <td>4</td>
      <td>50226</td>
      <td>Frechen</td>
      <td>None</td>

In [127]:
#convert ID's into a list of strings "('a','b','c')" for the SQL Query to fetch prices
autobahn_id_list = df_autobahn.id.tolist()
autobahn_id_list = list(map(str, autobahn_id_list))
query = 'SELECT stid, diesel FROM gas_station_information_history WHERE stid::text IN '
idlist =  '(' + ','.join(["'%s'" % w for w in autobahn_id_list]) + ')'
average_diesel_autobahn = pd.read_sql_query(query+idlist,con=engine)

In [183]:
#now use pandas to calculate the average diesel of each gas station
grouped_average_diesel_autobahn = average_diesel_autobahn.groupby(average_diesel_autobahn['stid'])
mean_grouped_average_diesel_autobahn = grouped_average_diesel_autobahn.mean().reset_index()
mean_grouped_average_diesel_autobahn.columns = ['id', 'diesel']
#now merge with names and adresses belonging to the gas station id's
merged_mean_grouped_average_diesel_autobahn = mean_grouped_average_diesel_autobahn.merge(df_autobahn[['id', 'name', 'street', 'house_number']])
#select cheapest for each autobahn (sort_values().first() = min()) 
grouped = merged_mean_grouped_average_diesel_autobahn.sort_values("diesel").groupby(merged_mean_grouped_average_diesel_autobahn["house_number"], as_index=False).first()
grouped

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>diesel</th>
      <th>name</th>
      <th>street</th>
      <th>house_number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5cb5616f-687c-4583-881d-bae196abe9a2</td>
      <td>1252.046608</td>
      <td>Aral Tankstelle, BAT GRUNDBERGSEE SÜD</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8a0d1565-d504-4112-af52-b28f748046a7</td>
      <td>1373.638691</td>
      <td>Aral Tankstelle, BAT Avus</td>
      <td>A</td>
      <td>115</td>
    </tr>
    <tr>
      <th>2</th>
      <td>948bdd70-d7d7-4905-b1c4-ff0d5d4afbff</td>
      <td>1284.563283</td>
      <td>Aral Tankstelle, BAT LEHRTER SEE NORD</td>
      <td>A</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>bf887b68-e8ad-4026-961e-c2f204caf873</td>
      <td>1354.897571</td>
      <td>Aral Tankstelle, BAT GÜTERSLOH NORD</td>
      <td>A</td>
      <td>2300</td>
    </tr>
    <tr>
      <th>4</th>
      <td>49ca7bb5-bd6d-4acb-9a93-affbe10af1e8</td>
      <td>1306.234192</td>
      <td>Aral Tankstelle, BAT RHYNERN NORD</td>
      <td>A</td>
      <td>260</td>
    </tr>
    <tr>
      <th>5</th>
      <td>c625dfeb-4248-44f8-8df5-74bb8d9a8c9c</td>
      <td>1327.556701</td>
      <td>Aral Tankstelle, BAT GOLDBACH NORD</td>
      <td>A</td>
      <td>27</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0a6a8a04-b702-4b7c-a342-8ec0068df019</td>
      <td>1279.225883</td>
      <td>Aral Tankstelle, BAT HUNTETAL OST</td>
      <td>A</td>
      <td>29</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9c89ddf1-7779-4134-b81f-e1603a5a1b85</td>
      <td>1261.229466</td>
      <td>Aral Tankstelle, BAT WÜRZBURG SÜD</td>
      <td>A</td>
      <td>3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>aac1e43e-019a-46f6-8b71-322f8b474066</td>
      <td>1245.428571</td>
      <td>Aral Tankstelle, Melle</td>
      <td>A</td>
      <td>30</td>
    </tr>
    <tr>
      <th>9</th>
      <td>a753f452-b7e7-48a2-8f7c-caff93de81d1</td>
      <td>1374.608696</td>
      <td>Aral Tankstelle, BAT EMS VECHTE WEST</td>
      <td>A</td>
      <td>31</td>
    </tr>
    <tr>
      <th>10</th>
      <td>e56b3d0f-2a0e-4a32-818f-5bf195521422</td>
      <td>1290.994407</td>
      <td>Aral Tankstelle</td>
      <td>A</td>
      <td>39</td>
    </tr>
    <tr>
      <th>11</th>
      <td>893278c4-37f8-483e-8b91-43f458972fc0</td>
      <td>1265.055765</td>
      <td>Aral Tankstelle, AUERSWALDE SÜD GMBH &amp; CO. KG</td>
      <td>A</td>
      <td>4</td>
    </tr>
    <tr>
      <th>12</th>
      <td>3bfab341-1f1e-49e0-8c32-bc77ca730e57</td>
      <td>1182.889085</td>
      <td>Aral Tankstelle</td>
      <td>A</td>
      <td>40</td>
    </tr>
    <tr>
      <th>13</th>
      <td>010fe50a-e75f-4208-afe5-192c91f1ac9d</td>
      <td>1358.933735</td>
      <td>Aral Tankstelle, BAT BÜHLECK SÜD</td>
      <td>A</td>
      <td>44</td>
    </tr>
    <tr>
      <th>14</th>
      <td>d9f740d5-ca47-4202-adc2-5ef6b1a5931e</td>
      <td>1279.402069</td>
      <td>Aral Tankstelle, BAT SIEGERLAND WEST</td>
      <td>A</td>
      <td>45</td>
    </tr>
    <tr>
      <th>15</th>
      <td>d3a1ea8e-5d0b-4e24-a81c-3fe40e80d227</td>
      <td>1248.858875</td>
      <td>Aral Tankstelle, Wuppertal-Barmen</td>
      <td>A</td>
      <td>46</td>
    </tr>
    <tr>
      <th>16</th>
      <td>12054c4d-cb20-42d4-8e7e-59547e2cc177</td>
      <td>1240.456190</td>
      <td>Aral Tankstelle, Sandhausen</td>
      <td>A</td>
      <td>5</td>
    </tr>
    <tr>
      <th>17</th>
      <td>d9594061-4856-4bb4-82aa-39ae8676e014</td>
      <td>1299.380180</td>
      <td>Aral Tankstelle, BAT CLOERBRUCH SÜD</td>
      <td>A</td>
      <td>52</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0662d86f-f85c-4936-9cc3-61753f512d25</td>
      <td>1276.602363</td>
      <td>Aral Tankstelle, BMV Mineralölvertriebs GmbH</td>
      <td>A</td>
      <td>57</td>
    </tr>
    <tr>
      <th>19</th>
      <td>b203c815-5c63-4fb2-a523-4b742f823dce</td>
      <td>1263.067068</td>
      <td>Aral Tankstelle, Holger Dötsch</td>
      <td>A</td>
      <td>6</td>
    </tr>
    <tr>
      <th>20</th>
      <td>d3bc944d-6075-4ec7-980e-846e8a71e774</td>
      <td>1317.602992</td>
      <td>Aral Tankstelle, BAT HEIDENFAHRT NORD</td>
      <td>A</td>
      <td>60</td>
    </tr>
    <tr>
      <th>21</th>
      <td>6e05afa7-bf37-4b6b-938b-ac3080f37b9a</td>
      <td>1300.817882</td>
      <td>Aral Tankstelle, Holger Dötsch</td>
      <td>A</td>
      <td>61</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1e507799-f55a-433f-aad5-1f3e75ac85f1</td>
      <td>1181.488338</td>
      <td>Aral Tankstelle</td>
      <td>A</td>
      <td>66</td>
    </tr>
    <tr>
      <th>23</th>
      <td>fd1f937f-311a-450c-8697-b0b31b4c249f</td>
      <td>1509.000000</td>
      <td>Aral Tankstelle, Q1 Energie AG</td>
      <td>A</td>
      <td>67</td>
    </tr>
    <tr>
      <th>24</th>
      <td>6109258b-01c6-4002-90f6-52dfaa09255a</td>
      <td>1229.143965</td>
      <td>Aral Tankstelle, Burghaun</td>
      <td>A</td>
      <td>7</td>
    </tr>
    <tr>
      <th>25</th>
      <td>e0ca8ab6-7c5f-4b86-81b9-85b8e256086f</td>
      <td>1297.078601</td>
      <td>Aral Tankstelle, BAT MELLRICHSTÄDTER HÖHE WEST</td>
      <td>A</td>
      <td>71</td>
    </tr>
    <tr>
      <th>26</th>
      <td>d916b480-038c-48ae-9177-baca1ce27213</td>
      <td>1475.509434</td>
      <td>Aral Tankstelle, Q1 Energie AG</td>
      <td>A</td>
      <td>72</td>
    </tr>
    <tr>
      <th>27</th>
      <td>c7bccf42-2fe0-4f12-8b8b-bdb0861130ad</td>
      <td>1517.043478</td>
      <td>Aral Tankstelle, Q1 Energie AG</td>
      <td>A</td>
      <td>745</td>
    </tr>
    <tr>
      <th>28</th>
      <td>d0fc17a6-a4d4-437e-bc74-ddd55dd6310f</td>
      <td>1264.192934</td>
      <td>Aral Tankstelle, BAT SINDELFINGER WALD SÜD</td>
      <td>A</td>
      <td>8</td>
    </tr>
    <tr>
      <th>29</th>
      <td>93c76a21-0aac-4a46-8d4f-fce6f1c61dca</td>
      <td>1315.247408</td>
      <td>Aral Tankstelle, BAT NECKARBURG WEST</td>
      <td>A</td>
      <td>81</td>
    </tr>
    <tr>
      <th>30</th>
      <td>9b7f15f9-17db-4d6b-a606-ebc9f40826c2</td>
      <td>1321.430233</td>
      <td>Aral Tankstelle, BAT HOLZKIRCHEN SÜD</td>
      <td>A</td>
      <td>816</td>
    </tr>
    <tr>
      <th>31</th>
      <td>291a148d-fa03-4a61-ac1f-15c27d91ebb8</td>
      <td>1237.319521</td>
      <td>Aral Tankstelle, BAT FRANKENWALD  WEST</td>
      <td>A</td>
      <td>9</td>
    </tr>
    <tr>
      <th>32</th>
      <td>671bb24f-33f0-42bc-af66-69953e2ae350</td>
      <td>1340.627027</td>
      <td>Aral Tankstelle, BAT LECHWIESEN SÜD</td>
      <td>A</td>
      <td>96</td>
    </tr>
  </tbody>
</table>
</div>

Question: Find min and max prices for each month

In [7]:
#solved with sophisticated sql query to do the task, for min operation 888, 0 and -1 were ignored 
min_max_df = pd.read_sql_query("""select extract(month from date) as mon,
               extract(year from date) as yyyy,
               min(NULLIF(NULLIF(NULLIF(diesel, 888), 0), -1)) as "min diesel",
               min(NULLIF(NULLIF(NULLIF(e5, 888), 0), -1)) as "min e5",
               min(NULLIF(NULLIF(NULLIF(e10, 888), 0), -1)) as "min e10",
               max(diesel) as "max diesel",
               max(e5) as "max e5",
               max(e10) as "max e10"
            from gas_station_information_history
            group by 1,2;"""
            ,con=engine)

In [10]:
min_max_df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mon</th>
      <th>yyyy</th>
      <th>min diesel</th>
      <th>min e5</th>
      <th>min e10</th>
      <th>max diesel</th>
      <th>max e5</th>
      <th>max e10</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>2017.0</td>
      <td>999</td>
      <td>990</td>
      <td>980</td>
      <td>2189</td>
      <td>1999</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>2018.0</td>
      <td>949</td>
      <td>989</td>
      <td>1000</td>
      <td>2179</td>
      <td>2039</td>
      <td>2019</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2.0</td>
      <td>2017.0</td>
      <td>889</td>
      <td>990</td>
      <td>1000</td>
      <td>1999</td>
      <td>1999</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2.0</td>
      <td>2018.0</td>
      <td>989</td>
      <td>1000</td>
      <td>1111</td>
      <td>1999</td>
      <td>1999</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3.0</td>
      <td>2017.0</td>
      <td>989</td>
      <td>999</td>
      <td>939</td>
      <td>2200</td>
      <td>1999</td>
      <td>2199</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3.0</td>
      <td>2018.0</td>
      <td>990</td>
      <td>999</td>
      <td>980</td>
      <td>2004</td>
      <td>2002</td>
      <td>2001</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4.0</td>
      <td>2017.0</td>
      <td>879</td>
      <td>939</td>
      <td>919</td>
      <td>2111</td>
      <td>2017</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4.0</td>
      <td>2018.0</td>
      <td>939</td>
      <td>1000</td>
      <td>1000</td>
      <td>1999</td>
      <td>1999</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5.0</td>
      <td>2016.0</td>
      <td>869</td>
      <td>989</td>
      <td>999</td>
      <td>2099</td>
      <td>1999</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5.0</td>
      <td>2017.0</td>
      <td>919</td>
      <td>1000</td>
      <td>1000</td>
      <td>1999</td>
      <td>1999</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5.0</td>
      <td>2018.0</td>
      <td>960</td>
      <td>960</td>
      <td>960</td>
      <td>2009</td>
      <td>2069</td>
      <td>2029</td>
    </tr>
    <tr>
      <th>11</th>
      <td>6.0</td>
      <td>2016.0</td>
      <td>909</td>
      <td>1000</td>
      <td>919</td>
      <td>1999</td>
      <td>1999</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>6.0</td>
      <td>2017.0</td>
      <td>939</td>
      <td>999</td>
      <td>899</td>
      <td>2119</td>
      <td>1999</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>13</th>
      <td>6.0</td>
      <td>2018.0</td>
      <td>1000</td>
      <td>1040</td>
      <td>1000</td>
      <td>2169</td>
      <td>2199</td>
      <td>2169</td>
    </tr>
    <tr>
      <th>14</th>
      <td>7.0</td>
      <td>2016.0</td>
      <td>919</td>
      <td>999</td>
      <td>999</td>
      <td>2178</td>
      <td>2144</td>
      <td>2134</td>
    </tr>
    <tr>
      <th>15</th>
      <td>7.0</td>
      <td>2017.0</td>
      <td>850</td>
      <td>900</td>
      <td>900</td>
      <td>2138</td>
      <td>1999</td>
      <td>2199</td>
    </tr>
    <tr>
      <th>16</th>
      <td>7.0</td>
      <td>2018.0</td>
      <td>989</td>
      <td>1100</td>
      <td>1000</td>
      <td>2119</td>
      <td>1999</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>8.0</td>
      <td>2016.0</td>
      <td>899</td>
      <td>979</td>
      <td>989</td>
      <td>2000</td>
      <td>2000</td>
      <td>2200</td>
    </tr>
    <tr>
      <th>18</th>
      <td>8.0</td>
      <td>2017.0</td>
      <td>929</td>
      <td>999</td>
      <td>999</td>
      <td>1999</td>
      <td>1999</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>19</th>
      <td>8.0</td>
      <td>2018.0</td>
      <td>989</td>
      <td>1000</td>
      <td>1000</td>
      <td>1999</td>
      <td>2000</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>9.0</td>
      <td>2016.0</td>
      <td>869</td>
      <td>1000</td>
      <td>1000</td>
      <td>2129</td>
      <td>1999</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>9.0</td>
      <td>2017.0</td>
      <td>900</td>
      <td>1000</td>
      <td>1000</td>
      <td>2000</td>
      <td>1999</td>
      <td>2200</td>
    </tr>
    <tr>
      <th>22</th>
      <td>10.0</td>
      <td>2016.0</td>
      <td>889</td>
      <td>1000</td>
      <td>1069</td>
      <td>2119</td>
      <td>2169</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>10.0</td>
      <td>2017.0</td>
      <td>949</td>
      <td>1099</td>
      <td>1000</td>
      <td>2109</td>
      <td>2109</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>24</th>
      <td>11.0</td>
      <td>2016.0</td>
      <td>918</td>
      <td>889</td>
      <td>890</td>
      <td>2198</td>
      <td>2123</td>
      <td>2000</td>
    </tr>
    <tr>
      <th>25</th>
      <td>11.0</td>
      <td>2017.0</td>
      <td>989</td>
      <td>999</td>
      <td>909</td>
      <td>1999</td>
      <td>2189</td>
      <td>2169</td>
    </tr>
    <tr>
      <th>26</th>
      <td>12.0</td>
      <td>2016.0</td>
      <td>869</td>
      <td>890</td>
      <td>870</td>
      <td>2089</td>
      <td>2016</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>27</th>
      <td>12.0</td>
      <td>2017.0</td>
      <td>890</td>
      <td>890</td>
      <td>890</td>
      <td>2017</td>
      <td>2017</td>
      <td>2018</td>
    </tr>
  </tbody>
</table>
</div>

Question: Find cheapest Weekday and Daytime

Question: Find Cheapest Brand

Question: Find Cheapest Gas Station for each region (where region == first three digits of region code)

Question: How often do prices change (count distinct prices for each gas station and build average)